<a href="https://colab.research.google.com/github/Ogana32/solomon/blob/main/Banking%20Customer%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [ ]:
transaction = pd.read_csv('/content/drive/MyDrive/bank_transactions.csv')
transaction.head()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5

In [ ]:
# transaction.isnull().values.any()
# transaction.isnull().sum()

transaction['TransactionTime'] = transaction['TransactionTime'].astype(str)

In [ ]:
transaction = transaction[transaction['TransactionTime'].str.len() >= 6]

transaction.isnull().sum()
transaction = transaction.dropna()
transaction.info()
transaction = transaction.drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
Index: 916039 entries, 0 to 1048566
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   TransactionID            916039 non-null  object
 1   CustomerID               916039 non-null  object
 2   CustomerDOB              916039 non-null  object
 3   CustGender               916039 non-null  object
 4   CustLocation             916039 non-null  object
 5   CustAccountBalance       916039 non-null  float64
 6   TransactionDate          916039 non-null  object
 7   TransactionTime          916039 non-null  object
 8   TransactionAmount (INR)  916039 non-null  float64
dtypes: float64(2), object(7)
memory usage: 69.9+ MB

In [ ]:
from datetime import datetime as dt

transaction['TransactionTime'] = transaction['TransactionTime'].apply(lambda x: dt.strptime(x,'%H%M%S').time())

TypeError: strptime() argument 1 must be str, not datetime.time

In [ ]:

transaction.head()
transaction['TransactionTime'] = pd.to_datetime(transaction['TransactionTime'], format='%H:%M:%S').dt.time
transaction.head()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,14:32:07,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,14:18:58,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,14:27:12,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,14:27:14,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,18:11:56,1762.5

In [ ]:
transaction.head(30)

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR),CustomersDOB
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,14:32,25.00,1994-10-01
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,14:18,27999.00,2057-04-04
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,14:27,459.00,1996-11-26
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,14:27,2060.00,2073-09-14
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,18:11,1762.50,1988-03-24
5,T6,C1536588,8/10/72,F,ITANAGAR,53609.20,2/8/16,17:39,676.00,2072-08-10
6,T7,C7126560,26/1/92,F,MUMBAI,973.46,2/8/16,17:38,566.00,1992-01-26
7,T8,C1220223,27/1/82,M,MUMBAI,95075.54,2/8/16,17:05,148.00,1982-01-27
8,T9,C8536061,19/4/88,F,GURGAON,14906.96,2/8/16,19:28,833.00,1988-04-19
9,T10,C6638934,22/6/84,M,MUMBAI,4279.22,2/8/16,19:24,289.11,1984-06-22
10,T11,C5430833,22/7/82,M,MOHALI,48429.49,2/8/16,20:41,259.00,1982-07-22
11,T12,C6939838,7/7/88,M,GUNTUR,14613.46,2/8/16,20:51,202.00,1988-07-07
12,T13,C6339347,13/6/78,M,AHMEDABAD,32274.78,2/8/16,20:38,12300.00,1978-06-13
15,T16,C8334633,10/7/68,F,NEW DELHI,1283.12,1/8/16,12:57,250.00,2068-10-07
16,T17,C1376215,1/1/1800,M,MUMBAI,77495.15,1/8/16,12:47,1423.11,1800-01-01
17,T18,C8967349,16/7/89,M,MUMBAI,2177.85,1/8/16,12:47,54.00,1989-07-16
18,T19,C3732016,11/1/91,M,MUMBAI,32816.17,1/8/16,12:21,315.00,1991-11-01
19,T20,C8999019,24/6/85,M,PUNE,10643.50,1/8/16,15:28,945.00,1985-06-24
20,T21,C6121429,20/4/93,M,NO 3 KALYANI NAGAR PUNE,2934.22,1/8/16,15:28,36.00,1993-04-20
21,T22,C4511244,31/8/89,F,SECUNDERABAD,4470.15,3/8/16,10:53,27.00,1989-08-31
22,T23,C7018081,1/1/1800,M,WAYS PANCHKUVA AHMEDABAD,143.07,3/8/16,10:47,110.00,1800-01-01
23,T24,C5830215,1/10/86,M,LUCKNOW,12868.42,3/8/16,12:56,291.00,1986-01-10
24,T25,C1219943,17/5/91,F,GURGAON,2951.10,3/8/16,12:48,1892.00,1991-05-17
25,T26,C5521085,24/2/93,M,GURGAON,3297.74,3/8/16,16:05,242.00,1993-02-24
26,T27,C5430368,1/2/86,M,DELHI,285.76,3/8/16,16:05,5500.00,1986-01-02
27,T28,C2416848,1/4/93,M,CHENNAI,20986.66,3/8/16,16:05,2235.00,1993-01-04
28,T29,C7935438,1/1/1800,M,MOHALI,969436.12,3/8/16,18:36,36.90,1800-01-01
30,T31,C7648712,21/1/67,F,NEW DELHI,298461.05,3/8/16,16:06,500.00,2067-01-21
31,T32,C5652115,26/6/91,F,GHAZIABAD,6384.54,3/8/16,16:05,10.00,1991-06-26
32,T33,C1889073,25/2/85,F,BANGALORE,57791.69,3/8/16,16:07,760.00,1985-02-25

In [ ]:
transaction['TransactionTime'] = transaction['TransactionTime'].apply(lambda x : x.strftime('%H:%M'))

AttributeError: 'str' object has no attribute 'strftime'

In [ ]:
transaction['TransactionTime'] = pd.to_datetime(transaction['TransactionTime'], format = '%H:%M' )

In [ ]:
transaction.head()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,14:32,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,14:18,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,14:27,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,14:27,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,18:11,1762.5

In [ ]:
transaction.head(100)

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,14:32,25.00
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,14:18,27999.00
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,14:27,459.00
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,14:27,2060.00
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,18:11,1762.50
...,...,...,...,...,...,...,...,...,...
104,T105,C7924053,15/4/71,F,KOLKATA,77587.52,6/8/16,18:54,500.00
105,T106,C7118047,27/8/67,M,DELHI,76185.83,6/8/16,20:06,1826.00
106,T107,C5836729,1/5/77,M,THANE,3214.87,6/8/16,20:33,2898.78
107,T108,C5712211,6/11/81,M,KOLKATA,755133.35,6/8/16,20:33,1803.00
108,T109,C5910145,14/10/77,M,GURGAON,27388.25,6/8/16,20:35,205.00

In [ ]:
transaction['TransactionTime'] = transaction['TransactionTime'].apply(lambda x: x.strftime('%H:%M'))

In [ ]:
transaction.head()
transaction.info()
transaction.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 916039 entries, 0 to 1048566
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   TransactionID            916039 non-null  object
 1   CustomerID               916039 non-null  object
 2   CustomerDOB              916039 non-null  object
 3   CustGender               916039 non-null  object
 4   CustLocation             916039 non-null  object
 5   CustAccountBalance       916039 non-null  float64
 6   TransactionDate          916039 non-null  object
 7   TransactionTime          916039 non-null  object
 8   TransactionAmount (INR)  916039 non-null  float64
dtypes: float64(2), object(7)
memory usage: 69.9+ MB

TransactionID              0
CustomerID                 0
CustomerDOB                0
CustGender                 0
CustLocation               0
CustAccountBalance         0
TransactionDate            0
TransactionTime            0
TransactionAmount (INR)    0
dtype: int64

In [ ]:
print(transaction['TransactionTime'].unique())

['14:32' '14:18' '14:27' '18:11' '17:39' '17:38' '17:05' '19:28' '19:24'
 '20:41' '20:51' '20:38' '12:57' '12:47' '12:21' '15:28' '10:53' '10:47'
 '12:56' '12:48' '16:05' '18:36' '16:06' '16:07' '18:27' '12:59' '18:29'
 '18:09' '13:25' '22:11' '22:09' '22:20' '22:26' '22:31' '10:00' '13:31'
 '14:17' '16:56' '16:59' '20:28' '20:29' '20:26' '20:27' '20:25' '10:58'
 '18:04' '18:05' '17:37' '18:08' '19:41' '19:47' '20:40' '20:42' '21:06'
 '20:32' '22:08' '12:16' '12:20' '12:17' '12:01' '14:48' '16:53' '16:55'
 '17:00' '17:02' '16:23' '17:41' '17:43' '18:24' '18:26' '18:54' '20:06'
 '20:33' '20:35' '22:54' '23:00' '22:59' '11:06' '11:05' '10:55' '17:51'
 '18:32' '18:31' '18:39' '20:11' '20:13' '20:16' '19:49' '14:39' '22:48'
 '11:03' '10:08' '16:52' '16:40' '18:12' '15:52' '16:01' '22:46' '22:50'
 '20:08' '20:15' '20:17' '19:59' '20:01' '11:08' '11:55' '11:56' '12:06'
 '17:21' '17:30' '17:29' '12:15' '15:58' '15:44' '17:16' '18:23' '18:51'
 '18:40' '18:42' '19:43' '21:58' '22:00' '22:05' '12:13' '11:58' '12:09'
 '12:51' '12:31' '12:28' '14:45' '15:03' '14:44' '17:04' '16:51' '16:58'
 '17:01' '19:27' '19:31' '14:01' '15:31' '15:39' '11:01' '15:19' '16:19'
 '16:27' '16:00' '15:27' '15:30' '15:16' '15:07' '17:06' '15:56' '15:35'
 '14:54' '15:04' '15:11' '15:12' '14:55' '15:51' '15:08' '17:13' '15:25'
 '16:25' '16:17' '16:41' '15:46' '15:26' '15:22' '14:56' '17:11' '17:14'
 '15:57' '15:49' '15:15' '15:23' '15:29' '15:10' '15:14' '15:43' '16:22'
 '14:58' '15:36' '15:32' '15:17' '16:34' '16:37' '15:06' '15:21' '15:09'
 '17:08' '15:59' '16:31' '15:20' '15:37' '14:59' '16:45' '17:03' '16:15'
 '20:34' '20:36' '20:09' '19:36' '21:49' '21:48' '21:47' '21:55' '20:21'
 '19:34' '20:00' '19:30' '19:23' '21:51' '21:27' '20:39' '21:25' '20:24'
 '19:54' '20:48' '20:50' '21:50' '20:58' '20:57' '21:00' '21:01' '21:18'
 '21:20' '20:18' '20:30' '19:29' '19:56' '20:52' '20:54' '20:12' '20:14'
 '21:36' '21:46' '21:26' '19:55' '19:57' '10:27' '21:52' '20:20' '20:22'
 '21:28' '21:30' '21:40' '21:31' '20:49' '20:53' '20:45' '21:43' '21:45'
 '20:59' '21:53' '21:22' '19:38' '19:40' '20:46' '20:37' '22:07' '21:35'
 '21:41' '20:23' '21:44' '22:13' '17:22' '19:37' '19:39' '22:04' '12:34'
 '21:21' '20:44' '20:10' '21:24' '19:48' '21:34' '21:39' '22:15' '22:16'
 '22:17' '22:18' '22:19' '21:33' '19:52' '21:08' '21:10' '22:10' '21:29'
 '22:29' '21:37' '21:32' '20:47' '20:04' '22:32' '22:34' '22:37' '22:40'
 '22:43' '19:45' '17:34' '20:19' '22:06' '22:12' '22:39' '22:02' '22:14'
 '22:47' '22:25' '21:59' '21:56' '21:16' '20:05' '19:50' '22:41' '22:30'
 '21:23' '21:12' '20:07' '20:31' '22:21' '19:46' '22:36' '21:13' '20:43'
 '22:27' '20:03' '22:23' '22:24' '22:33' '21:54' '15:24' '21:15' '21:38'
 '21:11' '19:53' '20:56' '21:14' '21:19' '19:33' '19:35' '21:02' '20:55'
 '19:25' '17:46' '21:17' '21:03' '19:58' '19:26' '10:13' '21:09' '16:35'
 '21:04' '21:07' '11:45' '11:44' '19:32' '21:05' '11:16' '10:40' '19:51'
 '21:42' '10:44' '16:32' '12:23' '18:21' '20:02' '21:57' '22:01' '11:07'
 '17:24' '12:07' '13:04' '22:03' '22:28' '22:42' '22:35' '15:50' '16:44'
 '17:10' '17:12' '15:40' '16:16' '15:33' '16:50' '15:53' '15:54' '16:02'
 '15:34' '16:47' '16:49' '15:42' '16:20' '15:48' '15:13' '14:51' '14:47'
 '14:49' '16:04' '15:01' '15:05' '15:18' '15:45' '15:47' '15:38' '16:38'
 '16:28' '15:41' '16:54' '16:30' '16:08' '16:09' '16:10' '16:11' '16:13'
 '12:46' '16:12' '14:21' '14:23' '16:03' '16:14' '22:44' '14:28' '14:10'
 '14:14' '16:36' '16:43' '16:18' '16:21' '22:45' '16:33' '16:26' '16:39'
 '16:29' '16:24' '16:57' '16:42' '16:46' '17:19' '15:55' '17:07' '14:46'
 '14:25' '12:29' '15:02' '14:20' '14:13' '14:29' '14:57' '14:15' '14:08'
 '14:52' '15:00' '14:30' '16:48' '14:53' '17:42' '17:28' '17:31' '14:22'
 '12:37' '14:34' '14:35' '17:40' '14:50' '12:22' '14:02' '11:39' '14:19'
 '14:24' '19:22' '12:38' '11:46' '11:35' '23:05' '23:22' '23:23' '23:24'
 '23:25' '23:27' '23:29' '19:03' '14:09' '10:36' '10:32' '10:39' '10:46'
 '11:43' '11:09' '10:56' '11:10' '10:35' '19:10' '19:12' '19:14' '19:15'
 '19:19' '13:49' '14:43' '14:16' '14:00' '12:25' '18:03' '11:04' '10:20'
 '11:51' '10:43' '10:02' '10:01' '10:28' '10:17' '10:23' '14:26' '14:33'
 '10:37' '19:42' '19:11' '11:33' '19:05' '19:08' '11:14' '10:59' '11:12'
 '11:13' '10:22' '10:33' '10:31' '10:54' '10:42' '10:38' '10:25' '11:49'
 '10:34' '11:47' '10:48' '10:45' '10:50' '11:15' '11:42' '10:07' '10:18'
 '13:41' '13:53' '13:56' '13:55' '10:03' '19:06' '19:21' '19:44' '14:38'
 '14:41' '10:51' '10:26' '10:30' '10:24' '10:09' '10:29' '13:38' '13:43'
 '10:19' '10:21' '10:05' '13:11' '10:06' '14:37' '14:40' '10:12' '10:15'
 '13:46' '14:04' '11:00' '11:27' '13:18' '13:20' '11:36' '19:16' '19:18'
 '14:12' '10:14' '13:40' '12:00' '11:54' '12:39' '17:59' '23:06' '23:26'
 '12:44' '12:26' '17:47' '17:49' '13:02' '22:53' '11:02' '10:52' '13:44'
 '13:54' '13:45' '13:51' '19:07' '19:09' '19:13' '11:22' '11:25' '14:11'
 '19:01' '10:10' '14:36' '19:20' '10:16' '11:37' '11:34' '10:49' '13:05'
 '13:06' '13:08' '13:15' '14:05' '14:03' '14:06' '13:22' '13:19' '13:48'
 '13:50' '17:18' '17:27' '18:46' '19:00' '23:53' '18:49' '18:50' '18:59'
 '18:47' '13:59' '11:11' '10:04' '13:16' '11:32' '19:04' '14:42' '10:11'
 '13:34' '13:37' '23:58' '11:26' '17:09' '19:02' '11:48' '18:55' '22:22'
 '17:53' '17:56' '17:58' '12:04' '13:10' '13:23' '13:09' '12:24' '12:49'
 '12:52' '23:11' '23:16' '17:25' '17:15' '17:20' '12:02' '12:50' '12:53'
 '13:58' '10:57' '11:31' '11:28' '13:57' '12:05' '13:42' '12:54' '17:26'
 '18:34' '18:28' '18:22' '18:25' '17:57' '18:52' '17:33' '18:18' '18:14'
 '13:47' '13:21' '13:32' '13:35' '18:10' '22:49' '23:03' '22:55' '13:01'
 '11:57' '12:36' '17:44' '18:06' '11:50' '13:07' '12:03' '12:12' '12:35'
 '11:41' '11:59' '11:38' '23:56' '13:36' '13:12' '19:17' '12:55' '11:53'
 '13:14' '18:43' '18:33' '13:27' '13:30' '17:52' '18:01' '18:35' '13:00'
 '18:41' '13:33' '13:24' '11:29' '13:29' '12:43' '12:14' '18:38' '23:44'
 '23:46' '22:52' '23:55' '12:58' '23:32' '23:48' '23:21' '23:02' '23:17'
 '23:15' '22:51' '12:18' '18:17' '12:30' '12:10' '12:11' '18:13' '18:15'
 '12:27' '12:19' '18:16' '18:07' '12:40' '12:42' '17:55' '12:41' '11:52'
 '13:52' '23:19' '23:33' '23:40' '23:12' '23:51' '23:04' '18:48' '23:59'
 '17:45' '13:13' '17:48' '17:36' '12:45' '12:08' '18:57' '11:19' '13:28'
 '11:24' '12:32' '14:07' '18:56' '18:44' '18:30' '13:39' '18:19' '13:26'
 '13:17' '11:30' '18:37' '23:41' '23:20' '23:34' '22:38' '22:58' '23:01'
 '23:13' '23:07' '23:09' '22:57' '18:58' '13:03' '18:02' '23:18' '14:31'
 '23:45' '23:42' '23:30' '12:33' '11:20' '11:21' '11:40' '11:17' '11:18'
 '23:08' '22:56' '23:10' '18:45' '18:20' '23:14' '23:49' '23:35' '23:39'
 '23:36' '23:38' '23:43' '18:53' '23:47' '23:54' '18:00' '17:17' '23:52'
 '23:50' '23:31' '23:57' '17:50' '17:54' '17:23' '17:32' '23:28' '23:37'
 '17:35' '11:23' '10:41']

In [ ]:
transaction['CustomerDOB'] = pd.to_datetime(transaction['CustomerDOB'])

todays_date = pd.Timestamp.today().date()

todays_date_array = pd.to_datetime([todays_date]*len(transaction), format = '%Y-%m-%d')

# Do not convert todays_date to string
#formatted_date = todays_date.strftime('%d-%m-%y')

transaction['Age'] = (todays_date_array - transaction['CustomerDOB'])
#transaction.head()

<ipython-input-39-5023bda0a585>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  transaction['CustomerDOB'] = pd.to_datetime(transaction['CustomerDOB'])

In [ ]:
transaction.head()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR),Age
0,T1,C5841053,1994-10-01,F,JAMSHEDPUR,17819.05,2/8/16,14:32,25.0,10908 days
1,T2,C2142763,2057-04-04,M,JHAJJAR,2270.69,2/8/16,14:18,27999.0,-11923 days
2,T3,C4417068,1996-11-26,F,MUMBAI,17874.44,2/8/16,14:27,459.0,10121 days
3,T4,C5342380,2073-09-14,F,MUMBAI,866503.21,2/8/16,14:27,2060.0,-17930 days
4,T5,C9031234,1988-03-24,F,NAVI MUMBAI,6714.43,2/8/16,18:11,1762.5,13290 days

In [ ]:
transaction = transaction[transaction['Age'] >= treshhold]

In [ ]:
treshhold = pd.Timedelta(days = 6000)

In [ ]:
transaction['Age']= transaction['Age']/ pd.Timedelta(days=365.2425)

In [ ]:
transaction['Age'] = np.ceil(transaction['Age']).astype(int)

In [ ]:
transaction.describe()
transaction = transaction[transaction['Age']<=75]
transaction.info()

<class 'pandas.core.frame.DataFrame'>
Index: 783162 entries, 0 to 1048566
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   TransactionID            783162 non-null  object
 1   CustomerID               783162 non-null  object
 2   CustomerDOB              783162 non-null  datetime64[ns]
 3   CustGender               783162 non-null  object
 4   CustLocation             783162 non-null  object
 5   CustAccountBalance       783162 non-null  float64
 6   TransactionDate          783162 non-null  object
 7   TransactionTime          783162 non-null  object
 8   TransactionAmount (INR)  783162 non-null  float64
 9   Age                      783162 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 65.7+ MB

In [ ]:
Transactionn = transaction.dropna(subset=['CustAccountBalance'])
Transactionn = transactions.dropna(subset=['CustAccountBalance'])

In [ ]:
transactions = transactions.dropna()
transactions.drop_duplicates
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1041614 entries, 0 to 1048566
Data columns (total 9 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   TransactionID            1041614 non-null  object
 1   CustomerID               1041614 non-null  object
 2   CustomerDOB              1041614 non-null  object
 3   CustGender               1041614 non-null  object
 4   CustLocation             1041614 non-null  object
 5   CustAccountBalance       1041614 non-null  float64
 6   TransactionDate          1041614 non-null  object
 7   TransactionTime          1041614 non-null  object
 8   TransactionAmount (INR)  1041614 non-null  float64
dtypes: float64(2), object(7)
memory usage: 79.5+ MB

In [ ]:
transactions['TransactionTime']=transactions['TransactionTime'].dt.time
transactions.info()

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
transactions['TransactionTime'] = transactions['TransactionTime'].apply(lambda x: x.strftime('%H:%M:%S')

SyntaxError: incomplete input (<ipython-input-104-18ab70dcd3f0>, line 1)

In [ ]:
transactions.to_excel('/content/drive/MyDrive/bank_transactions.xlsx')

KeyboardInterrupt:

In [ ]:
transaction.to_excel('/content/drive/MyDrive/banks_transactions.xlsx')